In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/revenue-data.csv")

In [3]:
data

,Age,SiteSpending,SiteTime,RecommendImpression,Education,WorkType,Sex,Region,Salary
0,32,314.06,30.14,0,Degree,Private sector,Male,London,60173.49
1,20,3758.36,149.36,4,GCSE,Private sector,Female,South East,42965.45
2,36,601.72,21.87,0,Masters,Private sector,Male,East of England,54924.41
3,21,44.89,182.80,9,Masters,Private sector,Female,Northern Ireland,26734.99
4,24,614.80,194.34,0,GCSE,Private sector,Male,Scotland,15325.23
...,...,...,...,...,...,...,...,...,...
995,56,177.67,272.87,5,GCSE,Public Sector,Female,North West,22306.84
996,54,155.42,231.17,5,Other,Private sector,Male,Wales,27704.97
997,22,2376.10,287.15,11,Other,Private sector,Male,South East,62542.89
998,49,4355.04,27.78,0,Degree,Private sector,Male,Northern Ireland,96745.84
999,51,40.43,188.38,9,PhD,Private sector,Male,North West,48651.47

In [4]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

data["Education"] = le.fit_transform(data['Education'])
data["WorkType"] = le.fit_transform(data["WorkType"])
data['Sex'] = le.fit_transform(data['Sex'])
data['Region'] =  le.fit_transform(data['Region'])

In [5]:
data

,Age,SiteSpending,SiteTime,RecommendImpression,Education,WorkType,Sex,Region,Salary
0,32,314.06,30.14,0,1,0,1,2,60173.49
1,20,3758.36,149.36,4,2,0,0,7,42965.45
2,36,601.72,21.87,0,3,0,1,1,54924.41
3,21,44.89,182.80,9,3,0,0,5,26734.99
4,24,614.80,194.34,0,2,0,1,6,15325.23
...,...,...,...,...,...,...,...,...,...
995,56,177.67,272.87,5,2,1,0,4,22306.84
996,54,155.42,231.17,5,5,0,1,9,27704.97
997,22,2376.10,287.15,11,5,0,1,7,62542.89
998,49,4355.04,27.78,0,1,0,1,5,96745.84
999,51,40.43,188.38,9,6,0,1,4,48651.47

In [6]:
dataset = data.values

In [7]:
dataset

array([[3.200000e+01, 3.140600e+02, 3.014000e+01, ..., 1.000000e+00,
        2.000000e+00, 6.017349e+04],
       [2.000000e+01, 3.758360e+03, 1.493600e+02, ..., 0.000000e+00,
        7.000000e+00, 4.296545e+04],
       [3.600000e+01, 6.017200e+02, 2.187000e+01, ..., 1.000000e+00,
        1.000000e+00, 5.492441e+04],
       ...,
       [2.200000e+01, 2.376100e+03, 2.871500e+02, ..., 1.000000e+00,
        7.000000e+00, 6.254289e+04],
       [4.900000e+01, 4.355040e+03, 2.778000e+01, ..., 1.000000e+00,
        5.000000e+00, 9.674584e+04],
       [5.100000e+01, 4.043000e+01, 1.883800e+02, ..., 1.000000e+00,
        4.000000e+00, 4.865147e+04]])

In [8]:
X = dataset[:,0:10]

In [9]:
Y = dataset[:,50:60]

In [10]:
from sklearn import preprocessing

In [11]:
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)

In [12]:
X_scale

array([[0.20634921, 0.06287757, 0.08462657, ..., 1.        , 0.18181818,
        0.35946958],
       [0.01587302, 0.85434499, 0.48771004, ..., 0.        , 0.63636364,
        0.22987541],
       [0.26984127, 0.12897911, 0.05666565, ..., 1.        , 0.09090909,
        0.31993863],
       ...,
       [0.04761905, 0.53671478, 0.95357879, ..., 1.        , 0.63636364,
        0.37731359],
       [0.47619048, 0.99145639, 0.07664739, ..., 1.        , 0.45454545,
        0.63489684],
       [0.50793651, 0.        , 0.61963688, ..., 1.        , 0.36363636,
        0.27269696]])

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(X_scale, Y, test_size=0.3)

In [15]:
X_val, X_test, Y_val, Y_test = train_test_split(X_val_and_test, Y_val_and_test, test_size=0.5)

In [16]:
print(X_train.shape, X_val.shape, X_test.shape, Y_train.shape, Y_val.shape, Y_test.shape)

(700, 9) (150, 9) (150, 9) (700, 0) (150, 0) (150, 0)